<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Main Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="button-container">
    <ion-button (click)="startGame()">
      {{ 'p_home.b_start' | translate }}
    </ion-button>
    <ion-button (click)="continueGame()">
      {{ 'p_home.heb_continue' | translate }}
    </ion-button>
    <ion-button (click)="viewAchievements()">
      {{ 'p_home.b_achievements' | translate }}
    </ion-button>
    <ion-button (click)="viewStory()">
      {{ 'p_home.b_story' | translate }}
    </ion-button>
    <ion-button (click)="settings()">
      {{ 'p_home.b_settings' | translate }}
    </ion-button>
    <ion-button (click)="viewInfo()">
      {{ 'p_home.b_information' | translate }}
    </ion-button>
  </ion-grid>
</ion-content>
<ion-footer class="lottie-container ion-no-border">
  <div class="animation-container">
    <ng-lottie 
      [options]="options"
      width="100px"
      (animationCreated)="animationCreated($event)">
    </ng-lottie>
  </div>
</ion-footer>
