<ion-header>
  <ion-toolbar>
    <ion-title>
      Main Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="button-container">
    <ion-button (click)="startGame()">
      Start Game
    </ion-button>
    <ion-button (click)="continueGame()">
      Continue Game
    </ion-button>
    <ion-button (click)="viewAchievements()">
      Achievements
    </ion-button>
    <ion-button (click)="viewStory()">
      Story
    </ion-button>
    <ion-button (click)="settings()">
      Settings
    </ion-button>
    <ion-button (click)="viewInfo()">
      Information
    </ion-button>
  </div>
  
  <div class="lottie-container">
    <!-- Here you can insert your dog Lottie animation -->
  </div>
</ion-content>
